OrekiRobot/*.session
OrekiRobot/*.session-journal
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
OrekiRobot/modules/helper_funcs/temp.txt
OrekiRobot/elevated_users.json
start-3.8.bat
*.session
kangsticker.png
venv
env
oreki.session-journal
updates.txt
*.exe
